@charset "UTF-8";

h1 {
	color: dodgerblue;
}

#menu>li {
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
}

.favori-btn i {
    cursor: pointer;
    transition: transform 0.2s;
}

.favori-btn:hover i {
    transform: scale(1.2);
}
